#product{
    float: left;
    width: 21%; 
    margin: 1%; 
    padding:1%
}

p {
    text-align: center;
    padding: 0;
    margin:0;
}

.disableOutofStock{
    background-color: #ddd;
    pointer-events:none;
}
